body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg)no-repeat center center;
 

}
.text{
	display: flex;
	align-items: center;
	color:white;
	border: 4px double white;
	max-width: 150px; 
}

hr{
	border-color: white;
	border-width: 3px;
	max-width: 150px;
}
.container{
	border: 4px double white;
	color: white;
	display: flex;
}


button{
	text-align: center;
}

/*.caps{
	text-transform: uppercase;
}
*/

